<div class="modal-body">
    <p>Please provide information below to show that you own this resource (e.g. a URL to a page associated with this resource that includes your email)</p>
    <div><textarea style="width:80%" rows="4" ng-model="message"></textarea></div>
    <div class="btn-group" role="group">
        <button class="btn btn-success" type="button" ng-click="submit()">Submit</button>
        <button class="btn btn-danger" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>
