<p>For NIH grant applications, dkNET can assist researchers in preparing authentication plans for cell lines or antibodies to <a target="_blank" href="https://dknet.org/about/NIH-Policy-Rigor-Reproducibility">comply with the NIH Submission Policy</a>. dkNET created an automated tool to enable researchers to create a customized report based on the cell lines and antibodies they plan to use. View an example of authentication plan <a target="_blank" href="https://dknet.org/upload/community-components/ExampleAuthenticationKeyBiologicalChemicalResources201609b.pdf">here</a>. Learn more about <a target="_blank" href="https://dknet.org/about/authentication-report">how dkNET can assist in preparing the authentication report for your grant applications</a>.</p>
<br>
<p><b>Add a resource to the authentication report</b> (dkNET account required)</p>
<ol>
    <li>Log into your existing account or create a new account.</li>
    <li>Click "<span style="color:#32CD32"><i class="fa fa-plus-circle collection-icon"></i> Add to an authentication report</span>"</li>
    <li>If you have created an authentication report already, click <i style="color:#32CD32" class="fa fa-plus-circle collection-icon"></i> to add this resource to the existing report.</li>
    <li>To add this resource to a new authentication report, click "<span style="color:#32CD32">Create a new authentication report</span>" and fill in the basic information. Refresh the resource report page and click <i style="color:#32CD32" class="fa fa-plus-circle collection-icon"></i> to add this resource to the new report.</li>
</ol>
