<p>The Ratings and Alerts section provides researchers information on the resource rating, validation, and alerts of problemed resources when available.</p>
<p>Currently, rating and validation information are aggregated from the following sources:</p>
<ul>
    <li>
        Software
        <ul>
            <li><a target="_blank" href="https://www.nitrc.org/search/?type_of_search=group&q=">NeuroImaging Tools and Resources Collaboratory (NITRC)</a>: NITRC has software resources with rating information.</li>
        </ul>
    </li>
    <li>
        Antibodies
        <ul>
            <li><a target="_blank" href="https://www.encodeproject.org/search/?type=AntibodyLot">Encyclopedia of DNA Elements (ENCODE)</a>: ENCODE has antibody validation information.</li>
            <li><a target="_blank" href="https://iscconsortium.org/resourcecatalog/">Intestinal Stem Cell Consortium (ISCC)</a>: ISCC has antibody rating and validation information.</li>
            <li><a target="_blank" href="https://www.proteinatlas.org/news/2017-12-01/antibody-validation-emphasised-in-the-new-version-of-the-human-protein-atlas">Human Protein Atlas</a>: Human Protein Atlas has enhanced antibody validation data defined based on the recommendations from the International Working Group for Antibody Validation (IWGAV) published in Nature Methods in 2016 (<a target="_blank" href="https://www.nature.com/articles/nmeth.3995">Uhlen et al, 2016</a>).</li>
        </ul>
    </li>
</ul>
<p>
    The cell line alert data is aggregated from <a target="_blank" href="https://web.expasy.org/cellosaurus/">Cellosaurus</a> (<a target="_blank" href="https://dknet.org/Miscellaneous/record/nlx_144509-1/SCR_013869/resolver">RRID:SCR_013869</a>). Cellosaurus also includes a list of contaminated cell lines updated from <a target="_blank" href="http://iclac.org/">International Cell Line Authentication Committee (ICLAC)</a>.
</p>
<p>
    Our data in Rating and Alerts information is normally updated weekly.
</p>
<p>
    The dkNET team is continuously working on expanding rating and alert data from other sources. If you have any source recommendations, please contact us at <a href="mailto:info@dknet.org">info@dknet.org</a>.
</p>
