This section provides researchers the information about the top resources that are frequently mentioned in the same publication with this resource. Researchers can find other resources that are used together with the resource or highly related to the resource. The number of publications represents how closely the resources are related.
<br>&nbsp;<br>
<span style="background-color: #408dc9;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> The blue bar represents the frequency of other research resources mentioned with this resource. By clicking the blue bar, you can view co-mentions details.
