<h3>Search Tips</h3>
<p>
    From dkNET search box, you can type any search term or terms. Here are some tips to help searching:
    <ol>
        <li>Use quotes around phrases you want to match exactly, e.g., "polycystic kidney disease", particularly if your search phrase contains short words like "of", "and", "to".</li>
        <li>You can manually add AND and OR between terms to change how you search between words, e.g., Diabetes AND obesity, will search for records containing both terms. Diabetes OR obesity, will search for records with either term.</li>
        <li>You can add NOT to terms to negate a search term, e.g., diabetes NOT NIDDK, will search for diabetes but not the NIDDK.</li>
    </ol>
</p>
