<h3>Search Tips</h3>
<ol>
    <li>Use quotes. Use double quotation marks (" ") around phrases to ensure they are searched exactly as is, with the words side by side in the same order, particularly if your search phrase contains short words like "of", "and", "to". Example: “Neuroscience Information Framework”.</li>
    <li>Use boolean search. Use “OR” for broadening your search by connecting two or more similar concepts (synonyms). Example: use it for including different forms of the word, “ischemia” OR “ischemic”; Use “AND” for narrowing your search by only showing the resulting records containing ALL search terms. Example: “ischemic stroke” AND “clots”; Use “NOT” in a search to exclude words from your search. Example: antibody NOT sheep</li>
    <li>Use the plus and minus signs. Add "+" or “-” in front of words to force their inclusion and/or exclusion in searches (NO space between the sign and the keyword). Example: +meat -vegetables.</li>
    <li>Use the asterisk wildcard. Use ”*” to look for variations in spelling and word form. Example: “ischem*” returns ischemia, ischemic, etc.</li>
    <li>Use autocomplete vocabulary. Using autocomplete specifies will expand your search automatically with terms from the ontology. Example: synonyms, abbreviations.</li>
    <li>Using the FIND command in the search box.</li>
</ol>
<p>The FIND command (you can use any case) allows a user to restrict their data federation search to resources that have been annotated to some special categories. We illustrate its use through several examples.</p>
<p>A. find:gene Alzheimer’s (locates all resources that are annotated by the category (or concept) “gene” and within those resources searches for the term “Alzheimer’s”)</p>
<p>B. find:protocol * reports all (* means all) resources that have been annotated with the concept “protocol”</p>
<p>Currently, the special categories for the FIND command (note that the command is case insensitive) are as follows.</p>
<ul>
    <li>Cell (find:cell mouse)</li>
    <li>Disease (find:disease lymphocyte)</li>
    <li>Function (find:function kinase)</li>
    <li>Organism (find:organism antigen)</li>
    <li>Phenotype (find:phenotype Fox)</li>
    <li>Resource (find:resource microscope)</li>
    <li>Anatomy (find:anatomy imaging)</li>
    <li>Molecule (find:molecule influenza)</li>
    <li>Protocol (find:protocol nlx_inv_090912) </li>
    <li>Gene</li>
    <li>Identifier</li>
    <li>Publication</li>
    <li>Specimen</li>
    <li>Antibody</li>
    <li>Sequence</li>
    <li>Interaction</li>
    <li>Pathway</li>
    <li>Coordinate</li>
    <li>Environment</li>
    <li>Strain</li>
    <li>Genotype</li>
    <li>Stage</li>
    <li>FullText</li>
    <li>CatalogNumber</li>
</ul>
