<!--
<div class="col-md-12 alert-danger" style="border: solid gray 1px;margin-bottom:5px;">
<big>
This server is running on test data. All ILX IDs are temporary and will be replaced by final IDs.
</big>
</div>
<img class="pull-right" src="/images/BetaTest128x108.png" style="z-index:1000;position:fixed;top:50%;left:95%;margin-top: -100px;margin-left: -150px;"/>
-->
<!-- <img class="pull-right" src="/images/BetaTest100x87.png" style="position:absolute;z-index:100;left:55%;margin-top:-37px;margin-left:-150px;"/>  -->
