<div class="modal-header">
    <h3 class="modal-title">Warning</h3>
</div>

<div class="modal-body">
    <p>Completing the upload will <span style="color:red">delete</span> the current records in the dataset and replace them with the new datafile. <strong>This process cannot be undone once submitted</strong>.
</p>
    <button class="btn btn-success" ng-click="continue()" onClick="next(); return false;" >Continue submitting</button>
    <button class="btn" style="background-color: #427c98; color: white; padding-left: 10px; padding-right: 10px" ng-click="cancel()">Go back</button>
</div>
