<div class="modal-header">
    <h3 class="modal-title">Note about Data Dictionaries and CDEs</h3>
</div>

<div class="modal-body">
    <p>Having a data dictionary is critical to improve the interpretability of a dataset and to comply with <a target="_blank" href="https://www.nature.com/articles/sdata201618">FAIR data principles</a>. We are also developing the ODC common data elements (CDEs) based on the data dictionaries for datasets uploaded to the ODC-SCI.</p>

    <p>We highly encourage you to create and upload a data dictionary for your dataset. You can upload a data dictionary on the dataset page once the upload is complete.</p>

    <p>A data dictionary is required to request a DOI for dataset publication.</p>
    <button class="btn btn-success" ng-click="continue()" onClick="next(); return false;" >Continue submitting</button>
    <button class="btn" style="background-color: #427c98; color: white; padding-left: 10px; padding-right: 10px" ng-click="cancel()">Go back</button>
</div>
